server:
  port: 9402

# Spring
spring:
  application:
    # 应用名称
    name: ruoyi-test-mq
  profiles:
    # 环境配置
    active: @profiles.active@

--- # rabbitmq 配置
spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    publisher-returns: true
    publisher-confirm-type: correlated

--- # kafka 配置
spring:
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

--- # rocketmq 配置
rocketmq:
    name-server: localhost:9876
    producer:
      # 生产者组
      group: dist-test

--- # nacos 配置
spring:
  cloud:
    nacos:
      # nacos 服务地址
      server-addr: @nacos.server@
      discovery:
        # 注册组
        group: @nacos.discovery.group@
        namespace: ${spring.profiles.active}
      config:
        # 配置组
        group: @nacos.config.group@
        namespace: ${spring.profiles.active}
  config:
    import:
      - optional:nacos:application-common.yml
